{
    "openapi": "3.0.0",
    "info": {
        "title": "MiseAuVert API",
        "description": "API documentation for MiseAuVert",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://app.miseauvert.fr",
            "description": "Production server"
        }
    ],
    "paths": {
        "/api/factures": {
            "get": {
                "tags": [
                    "Factures"
                ],
                "summary": "Liste les factures (paginées)",
                "description": "Lister les factures.",
                "operationId": "8bf3328f059f385f0feed13292f843d9",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pension_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste paginée des factures"
                    },
                    "401": {
                        "description": "Non authentifié"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Factures"
                ],
                "summary": "Créer une nouvelle facture",
                "description": "Créer une facture.",
                "operationId": "8f85a53176dcb34bbb56db2c6f648142",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "user_id",
                                    "pension_id",
                                    "numero",
                                    "issued_at",
                                    "stay_end_at"
                                ],
                                "properties": {
                                    "user_id": {
                                        "type": "integer"
                                    },
                                    "pension_id": {
                                        "type": "integer"
                                    },
                                    "numero": {
                                        "type": "string"
                                    },
                                    "issued_at": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "stay_start_at": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "stay_end_at": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "animals_count": {
                                        "type": "integer"
                                    },
                                    "total_ht": {
                                        "type": "number"
                                    },
                                    "total_ttc": {
                                        "type": "number"
                                    },
                                    "pdf": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "pdf_path": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Facture créée"
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/factures/{facture}": {
            "get": {
                "tags": [
                    "Factures"
                ],
                "summary": "Afficher une facture",
                "description": "Afficher une facture.",
                "operationId": "5aa01beb4bb1bbbdbe8b070d3e763f86",
                "parameters": [
                    {
                        "name": "facture",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Détails de la facture"
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "404": {
                        "description": "Facture non trouvée"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Factures"
                ],
                "summary": "Mettre à jour une facture",
                "description": "Mettre à jour une facture.",
                "operationId": "02d2361bd8de3f0ea0fe02f743fe6178",
                "parameters": [
                    {
                        "name": "facture",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "user_id": {
                                        "type": "integer"
                                    },
                                    "pension_id": {
                                        "type": "integer"
                                    },
                                    "numero": {
                                        "type": "string"
                                    },
                                    "issued_at": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "stay_start_at": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "stay_end_at": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "animals_count": {
                                        "type": "integer"
                                    },
                                    "total_ht": {
                                        "type": "number"
                                    },
                                    "total_ttc": {
                                        "type": "number"
                                    },
                                    "pdf_path": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Facture mise à jour"
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "404": {
                        "description": "Facture non trouvée"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Factures"
                ],
                "summary": "Supprimer une facture",
                "description": "Supprimer une facture.",
                "operationId": "53bcb23d496425b6bb44c5509e5a06e7",
                "parameters": [
                    {
                        "name": "facture",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Facture supprimée"
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "404": {
                        "description": "Facture non trouvée"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/factures/{facture}/download": {
            "get": {
                "tags": [
                    "Factures"
                ],
                "summary": "Télécharger le PDF d'une facture",
                "description": "Télécharger le PDF d'une facture.",
                "operationId": "677013142ec1e2e6f4717add0d511e71",
                "parameters": [
                    {
                        "name": "facture",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fichier PDF"
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Accès interdit"
                    },
                    "404": {
                        "description": "Fichier introuvable"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/animaux": {
            "get": {
                "tags": [
                    "Animaux"
                ],
                "summary": "Liste des animaux de l'utilisateur connecté",
                "operationId": "97fa5f84fd3fe9674a5e115fabbb838a",
                "responses": {
                    "200": {
                        "description": "Liste des animaux"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Animaux"
                ],
                "summary": "Créer un animal",
                "operationId": "038572e69f0a88b048bb654a883cab68",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nom"
                                ],
                                "properties": {
                                    "nom": {
                                        "type": "string"
                                    },
                                    "espece": {
                                        "type": "string"
                                    },
                                    "race": {
                                        "type": "string"
                                    },
                                    "age": {
                                        "type": "integer"
                                    },
                                    "poids": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "carnet_vaccination": {
                                        "type": "boolean"
                                    },
                                    "vaccin_a_jour": {
                                        "type": "boolean"
                                    },
                                    "vermifuge_a_jour": {
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Animal créé"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/animaux/{id}": {
            "get": {
                "tags": [
                    "Animaux"
                ],
                "summary": "Afficher un animal",
                "operationId": "5309984bed6c163821423ad1d541b47a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Animal trouvé"
                    },
                    "404": {
                        "description": "Animal non trouvé"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Animaux"
                ],
                "summary": "Mettre à jour un animal",
                "operationId": "9161cf39bdedbaeb9ee7631d67716660",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nom": {
                                        "type": "string"
                                    },
                                    "espece": {
                                        "type": "string"
                                    },
                                    "race": {
                                        "type": "string"
                                    },
                                    "age": {
                                        "type": "integer"
                                    },
                                    "poids": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "vaccin_a_jour": {
                                        "type": "boolean"
                                    },
                                    "vermifuge_a_jour": {
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Animal mis à jour"
                    },
                    "404": {
                        "description": "Animal non trouvé"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Animaux"
                ],
                "summary": "Supprimer un animal",
                "operationId": "79379a748d9c936d556e3e8e5b4c3c39",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Animal supprimé"
                    },
                    "404": {
                        "description": "Animal non trouvé"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/proprietaires": {
            "get": {
                "tags": [
                    "Propriétaires"
                ],
                "summary": "Liste des propriétaires avec leurs animaux",
                "operationId": "4bb8cccb5f52c35e1e7e45a1c8bde012",
                "responses": {
                    "200": {
                        "description": "Liste des utilisateurs avec animaux"
                    }
                }
            }
        },
        "/api/proprietaires/{id}/animaux": {
            "get": {
                "tags": [
                    "Propriétaires"
                ],
                "summary": "Liste des animaux d'un propriétaire",
                "operationId": "98fe41df726deee5ca5daf6250e4d8fc",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des animaux"
                    }
                }
            }
        },
        "/api/pensions": {
            "get": {
                "tags": [
                    "Pensions"
                ],
                "summary": "Récupérer toutes les pensions",
                "operationId": "cf327193d22f43783ec6d0309c4a745e",
                "responses": {
                    "200": {
                        "description": "Liste des pensions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Pension"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Pensions"
                ],
                "summary": "Créer une pension",
                "operationId": "d77907a44ef52eb9c5b3ba77ff88743e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nom",
                                    "adresse",
                                    "ville",
                                    "code_postal",
                                    "actif"
                                ],
                                "properties": {
                                    "nom": {
                                        "type": "string"
                                    },
                                    "adresse": {
                                        "type": "string"
                                    },
                                    "ville": {
                                        "type": "string"
                                    },
                                    "region": {
                                        "type": "string"
                                    },
                                    "code_postal": {
                                        "type": "string"
                                    },
                                    "telephone": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "capacite_chiens": {
                                        "type": "integer"
                                    },
                                    "capacite_chats": {
                                        "type": "integer"
                                    },
                                    "actif": {
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Pension créée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pension"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            }
        },
        "/api/pensions/{id}": {
            "get": {
                "tags": [
                    "Pensions"
                ],
                "summary": "Afficher une pension",
                "operationId": "96f84d56fb0e4e83b8edc2c6cd1838a1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pension trouvée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pension"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Pension non trouvée"
                    }
                }
            },
            "put": {
                "tags": [
                    "Pensions"
                ],
                "summary": "Mettre à jour une pension",
                "operationId": "1e4a2f8dcaf9b464f177356dfc1adcfe",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Pension"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Pension mise à jour",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pension"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Pension non trouvée"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Pensions"
                ],
                "summary": "Supprimer une pension",
                "operationId": "b676ef9735e1adaa9201df31a04699fa",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pension supprimée"
                    },
                    "404": {
                        "description": "Pension non trouvée"
                    }
                }
            }
        },
        "/api/pensions/{id}/boxes": {
            "get": {
                "tags": [
                    "Boxes"
                ],
                "summary": "Récupérer les boxes d'une pension",
                "operationId": "d78121ff4d85a1488e3ac29eceaacc38",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Boxes récupérées",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Box"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Pension non trouvée"
                    }
                }
            },
            "post": {
                "tags": [
                    "Boxes"
                ],
                "summary": "Créer une box",
                "operationId": "ac24f51f02b6236d86f7f31b3e60f25b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "superficie": {
                                        "type": "number",
                                        "format": "float"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Box créée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Box"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Pension non trouvée"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            }
        },
        "/api/boxes/{id}": {
            "put": {
                "tags": [
                    "Boxes"
                ],
                "summary": "Mettre à jour une box",
                "operationId": "655fd14e8f1f3412c0b0a0da60cea6e0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "superficie": {
                                        "type": "number",
                                        "format": "float"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Box mise à jour",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Box"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Box non trouvée"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Boxes"
                ],
                "summary": "Supprimer une box",
                "operationId": "909871f34a0e87678974c22badb5783e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Box supprimée"
                    },
                    "404": {
                        "description": "Box non trouvée"
                    }
                }
            }
        },
        "/api/pensions/{id}/types-gardiennage": {
            "get": {
                "tags": [
                    "Types de Gardiennage"
                ],
                "summary": "Récupérer les types de gardiennage d'une pension",
                "operationId": "4b2720f1594625d5ca71cdf998029516",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Types de gardiennage récupérés",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TypeGardiennage"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Pension non trouvée"
                    }
                }
            },
            "post": {
                "tags": [
                    "Types de Gardiennage"
                ],
                "summary": "Créer un type de gardiennage",
                "operationId": "93ad189f221467d8be341558f76c3b5d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "libelle": {
                                        "type": "string",
                                        "maxLength": 255
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Type de gardiennage créé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TypeGardiennage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Pension non trouvée"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            }
        },
        "/api/types-gardiennage/{id}": {
            "put": {
                "tags": [
                    "Types de Gardiennage"
                ],
                "summary": "Mettre à jour un type de gardiennage",
                "operationId": "b619350b0313408bf246b5398b069580",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "libelle": {
                                        "type": "string",
                                        "maxLength": 255
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Type de gardiennage mis à jour",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TypeGardiennage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Type de gardiennage non trouvé"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Types de Gardiennage"
                ],
                "summary": "Supprimer un type de gardiennage",
                "operationId": "0ec2f11c67373c0e47707c20817d9517",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Type de gardiennage supprimé"
                    },
                    "404": {
                        "description": "Type de gardiennage non trouvé"
                    }
                }
            }
        },
        "/api/pensions/{id}/tarifs": {
            "get": {
                "tags": [
                    "Tarifs"
                ],
                "summary": "Récupérer les tarifs d'une pension",
                "operationId": "61411cff82d7206271412df1d1ebf7e8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tarifs récupérés",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tarif"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Pension non trouvée"
                    }
                }
            },
            "post": {
                "tags": [
                    "Tarifs"
                ],
                "summary": "Créer un tarif",
                "operationId": "ab75727e66fd9b613326112689ad23be",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "type_gardiennage_id": {
                                        "type": "integer"
                                    },
                                    "prix": {
                                        "type": "number",
                                        "format": "float"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Tarif créé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tarif"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Pension non trouvée"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            }
        },
        "/api/tarifs/{id}": {
            "put": {
                "tags": [
                    "Tarifs"
                ],
                "summary": "Mettre à jour un tarif",
                "operationId": "860b83f9830f61929f46a5fc02de04b4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "prix": {
                                        "type": "number",
                                        "format": "float"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Tarif mis à jour",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tarif"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Tarif non trouvé"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Tarifs"
                ],
                "summary": "Supprimer un tarif",
                "operationId": "21ae6a09d715862d65e07ab1974c6063",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tarif supprimé"
                    },
                    "404": {
                        "description": "Tarif non trouvé"
                    }
                }
            }
        },
        "/api/auth/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Inscrire un nouvel utilisateur",
                "operationId": "d764dd091cc4494ae0baf360b03319f3",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Inscription réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        },
                                        "token": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Connecter un utilisateur",
                "operationId": "8dcb70df1020986038d098cc08d05dae",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Connexion réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        },
                                        "token": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Identifiants invalides"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Déconnecter l'utilisateur actuel",
                "operationId": "69281b12abb272c76871f19cb17ca563",
                "responses": {
                    "200": {
                        "description": "Déconnexion réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/auth/me": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Obtenir les informations de l'utilisateur actuel",
                "operationId": "b9abb1a7a74670a19c215c2c133f14d8",
                "responses": {
                    "200": {
                        "description": "Informations de l'utilisateur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Auth"
                ],
                "summary": "Mettre à jour le profil de l'utilisateur actuel",
                "operationId": "66b35986b89bd465dec21babbed0b075",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profil mis à jour",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Pension": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "user_id": {
                        "type": "integer"
                    },
                    "ville": {
                        "type": "string"
                    },
                    "adresse": {
                        "type": "string"
                    },
                    "telephone": {
                        "type": "string"
                    },
                    "responsable": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "Box": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "pension_id": {
                        "type": "integer"
                    },
                    "superficie": {
                        "type": "number",
                        "format": "float"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "TypeGardiennage": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "pension_id": {
                        "type": "integer"
                    },
                    "libelle": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "Tarif": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "pension_id": {
                        "type": "integer"
                    },
                    "type_gardiennage_id": {
                        "type": "integer"
                    },
                    "prix": {
                        "type": "number",
                        "format": "float"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "Option": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "pension_id": {
                        "type": "integer"
                    },
                    "libelle": {
                        "type": "string"
                    },
                    "tarif": {
                        "type": "number",
                        "format": "float"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "User": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "email_verified_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "sanctum": {
                "type": "http",
                "description": "Entrez le token obtenu via /api/auth/login",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Factures",
            "description": "Factures"
        },
        {
            "name": "Animaux",
            "description": "Animaux"
        },
        {
            "name": "Propriétaires",
            "description": "Propriétaires"
        },
        {
            "name": "Pensions",
            "description": "Pensions"
        },
        {
            "name": "Boxes",
            "description": "Boxes"
        },
        {
            "name": "Types de Gardiennage",
            "description": "Types de Gardiennage"
        },
        {
            "name": "Tarifs",
            "description": "Tarifs"
        },
        {
            "name": "Auth",
            "description": "Auth"
        }
    ]
}